/** Surcharge bootstrap */
.col-sm-4 {
    padding: 0 !important;

}
body{
    background: #25b15e14 !important;
}
h1{
    animation: titreColor 5s infinite;

}
h1:hover{
    animation: rotation 1s infinite;
}
select{
    background: #378d9c;
    height: 119px !important;
    /*width: 120px !important;*/
    margin: auto;
}
select option{
    margin: auto;
    background: #0fa5b6;
    color: white;
}
@keyframes titreColor {
    0%{color: #9f00ff}
    25%{ color: #0087ff}
    50%{ color: #00ffde}
    75%{ color: #ff4900}
    100%{color: #ff0000}
}
@keyframes rotation {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(380deg)}
}

/** TODO : un peu de CSS pour customiser les balises SELECT ? */